:root {
    --color: rgb(255,0,0);
    background: var(--color);
background: linear-gradient(140deg, rgba(164,22,22,1) 0%, rgba(19,75,19,1) 50%, rgba(9,9,64,1) 100%);
    color: white;
}
html {
    min-height: 100%;
}
body {
    margin: 0;
    padding: 10px;
    height: 100%;
    background-image: linear-gradient(140deg, rgba(164,22,22,1) 0%, rgba(19,75,19,1) 50%, rgba(9,9,64,1) 100%);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-family: "Plus Jakarta Sans";
}
a {
   color: aqua; 
}